In [1]:
# IMporting librariies
import pandas as pd # for data analysis
import numpy as np # for numerical calculations & dealing with vectors and matrices
import seaborn as sns # visualization
from matplotlib import pyplot as plt # for visualization

In [2]:
df=pd.read_csv("netflix.csv")

In [3]:
# data understanding
df.head(5) # gives the top 5 rows

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
df.shape

(8807, 12)

In [5]:
df.size

105684

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [7]:
# statistical info about the data
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [8]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [9]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [10]:
df["show_id"].unique() # unique values of unnamed

array(['s1', 's2', 's3', ..., 's8805', 's8806', 's8807'], dtype=object)

In [12]:
# univariate analsis
# sns.countplot(x=df['type'])

In [13]:
df['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [14]:
df[df.duplicated()] # gives us the duplicate values

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [15]:
# categorical

In [16]:
# Printing the complete information of the dataset and names of the columns that has missing values.
print(df.info())

# Identify columns with missing values and display statistics
df.columns[df.isnull().any()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

Index(['director', 'cast', 'country', 'date_added', 'rating', 'duration'], dtype='object')

In [17]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [18]:
missing_stats # shows missing value columns and count of missing values

NameError: name 'missing_stats' is not defined

# DATA CLEANING

In [ ]:
# converting numerical to category data
# df["column_name"].astype("category")

In [33]:
# filling missing values using mean and median
# df_mean is duplaicte dataframe df is original 
df_mean = df.copy()
df_median = df.copy()

#  fill the missing values
df['director'] = df['director'].fillna('Unknown')
df['cast'] = df['cast'].fillna('Unknown')
df['country'] = df['country'].fillna('Unknown')
df['date_added'] = df['date_added'].fillna('Unknown')
df['duration'] = df['duration'].fillna('Unknown')
df['rating'] = df['rating'].fillna('Unknown')

In [54]:
df["rating"].mode()

0    TV-MA
Name: rating, dtype: object

In [56]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [32]:
df['director'].value_counts()
# droping unnecessary columns
# df.drop(columns=['director'],axis=1,inplace=True)

director
Rajiv Chilaka                     19
Raúl Campos, Jan Suter            18
Marcus Raboy                      16
Suhas Kadav                       16
Jay Karas                         14
                                  ..
Raymie Muzquiz, Stu Livingston     1
Joe Menendez                       1
Eric Bross                         1
Will Eisenberg                     1
Mozez Singh                        1
Name: count, Length: 4528, dtype: int64

- director      2634
- cast           825
- country        831
- date_added      10
- rating           4
- duration         3

In [19]:
# Print the top 10 countries contributing to the Content on Netflix
df['country'].value_counts().head(15)

country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Turkey             105
Nigeria             95
Australia           87
Taiwan              81
Indonesia           79
Name: count, dtype: int64

In [ ]:
# listing the 5 most popular types of genre on the platform.
df['listed_in'].value_counts().head(5)

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Name: count, dtype: int64

In [ ]:
# - Loading the Dataset and categorize into TV shows and Movies and display 2 rows for each.
df[df['type']=='Movie'].head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...

In [ ]:
df[df['type']=='TV Show'].head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [23]:
# - Load the Dataset and find the Oldest movies
oldest_movies = df.sort_values(by='release_year',ascending=True)
oldest_movies.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...

In [31]:
#- Load the Dataset and get the count of values for duration column.
Duration_count = df['duration'].value_counts()
Duration_count

duration
1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
94 min        146
             ...
16 min          1
186 min         1
193 min         1
189 min         1
191 min         1
Name: count, Length: 220, dtype: int64

In [ ]:
#- Load the Dataset and find the measures of central tendency and dispersion of duration column by extracting numerical part of the duration column.

In [34]:
# - Load the Dataset and find out to which country the highest duration movie belongs to by extracting the numerical part of the duration column and create a new column. print title and country column.

df_mean = df.copy()
df_median = df.copy()

In [36]:
mean_duration = df['duration_numeric'].mean()

TypeError: can only concatenate str (not "int") to str

In [ ]:
# - Load the Dataset and plot the histogram  on Netflix Content Release Year Distribution.

In [ ]:
#- Load the Dataset and plot the Distribution of Populartiy of different content categories using countplot

Load the Dataset and find the measures of central tendency and dispersion of duration column by extracting numerical part of the duration column.

Expected Output:

The mean duration is 58.83838383838384
The highest duration is 182.0
The minimum duration is 1.0
The variance of duration is 2952.5042259327975
The standard deviation is 54.33695083396562

Load the Dataset and get the count of values for duration column.

Expected Output:

1 Season     22
2 Seasons     9
91 min        4
96 min        3
95 min        3
6 Seasons     3
3 Seasons     3
106 min       3
97 min        3
147 min       2
145 min       2
93 min        2
99 min        2
103 min       2
90 min        2
4 Seasons     2
5 Seasons     2
9 Seasons     2
88 min        1
87 min        1
125 min       1
48 min        1
182 min       1
13 min        1
113 min       1
83 min        1
85 min        1
104 min       1
102 min       1
127 min       1
100 min       1
166 min       1
61 min        1
122 min       1
115 min       1
23 min        1
98 min        1
116 min       1
124 min       1
67 min        1
105 min       1
110 min       1
94 min        1
111 min       1
161 min       1
92 min        1
Name: duration, dtype: int64

Load the Dataset and find the Oldest movies .

Expected Output:

41    Jaws
Name: title, dtype: object

Load the Dataset and find out to which country the highest duration movie belongs to by extracting the numerical part of the duration column and create a new column. print title and country column.

Expected Output:

   title  country
73  King of Boys  Nigeria

Load the dataset and list the 5 most popular types of genre on the platform.

Expected Output:

International Movies      28
Action & Adventure        20
International TV Shows    20
Dramas                    15
Anime Features            12
Name: listed_in, dtype: int64

Load the Dataset and plot the histogram on Netflix Content Release Year Distribution.

Load the Dataset and plot the Distribution of Populartiy of different content categories using countplot.